# Go to appwrite -> create an project -> Go to settings -> copy end point url and project ID
VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="694c4def000e169b0557"

# Go to Database create an database and pastes its ID
VITE_APPWRITE_DATABASE_ID="694c4fa1000d6127ca82"

# Go to Database create an table inside your selected database and pastes its ID
VITE_APPWRITE_COLLECTION_ID="694c52fe0026831bd06e"


VITE_APPWRITE_BUCKET_ID="694c53fe00041991cb3b"